
<p id="notice"><%= notice %></p>
<div id="user_main">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

<hr>

<h2><u>Reservations</u></h2>
<% @reservations.each do |reservation| %>
<ul>
  <% flight = Flight.where(id: reservation.flight_id ).first %>
  <a href="/search#flights/<%= reservation.flight_id %>"><li><strong>Flight ID:</strong> <%= reservation.flight_id %> | <%= flight.origin %> to <%= flight.destination %> | <strong>Seat:</strong> <%= reservation.row %><%= reservation.column %> | <strong>Date:</strong> <%= flight.date.strftime '%a %B %y, %k:%M' %></li></a>
</ul>
<% end %>

</div>
